<div id="search">
  <div class="container">
    <div id="search-form-m" class="hide-on-large-only">
      <%= form_tag search_path, method: :get, class: "full-width" do %>
        <div class="input-field">
          <%= search_field_tag :q, params[:q], id: "search-input-m",
            placeholder: "Nhập từ khoá", autocomplete: "off",
            data: { "activates": "search-dropdown-m",
            beloworigin: true } %>

          <%= material_icon_of "search" %>
        </div>
      <% end %>

      <ul id="search-dropdown-m" class="dropdown-content"></ul>
    </div>
  </div>
  
  <% if @posts %>
  <div class="ctn row">
    <div class="col s12 m12 l3 hide-on-large-only">
       <a class="btn modal-trigger" href="#filter-form">
        Lọc <%= material_icon_of "filter_list", class: "right" %>
       </a>
      
      <br><br>

      <div id="filter-form" class="modal bottom-sheet">
        <div class="modal-content">
          <%= render "filter_modal", posts: @posts %>
        </div>
        <div class="modal-footer">
          <a class=" modal-action modal-close btn-flat">Đóng</a>
        </div>
      </div>
    </div>
    
    <div class="col s12 m12 l3 hide-on-med-and-down">
      <%= render "filter", posts: @posts %>
    </div>

    <div class="col s12 m12 l9">

      <div class="posts row hide-on-change">
        <% if @posts.size == 0 %>
          <h5 class="center-align">Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa 
            "<%= params[:q] %>"</h5>
            <br>
          <div class="center-align">Vui lòng kiểm tra chính tả hoặc thử tìm kiếm với từ khoá khác!</div>

        <% else %>
          <h6><%= @posts.size %> kết quả được tìm thấy.</h6>
          <%= render @paginated_posts, post_class: "s12 m6 l4" %>
        <% end %>
      </div>

      <div id="preloader-nav" class="center-align" style="display: none">
        <%= render "shared/circle_preloader", size: "small" %>
      </div>

      <div class="center-align hide-on-change">
        <%= will_paginate @paginated_posts %>
      </div>
    </div>
  </div>
  
  <% else %>
    <div class="row container">
      <% if @users.size == 0 %>
        <h5 class="center-align">Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa 
          "<%= params[:q] %>"</h5>
          <br>
        <div class="center-align">Vui lòng kiểm tra chính tả hoặc thử tìm kiếm với từ khoá khác!</div>
      <% else %>
        <h6><%= @users.size %> kết quả được tìm thấy.</h6>
        <%= render @users %>
      <% end %>
    </div>
  <% end %>

</div>

