<div id="market">
  <div class="navbar-fixed">
    <nav class="main-color z-depth-0">
      <div class="nav-wrapper center-align row">
        <ul>
          <li>
            <a href="" class="tab active">
              <i class="material-icons left">home</i>
              <span class="hide-on-med-and-down"> Trang chủ</span>
            </a>
          </li>
          <% @categories.each do |category| %>
            <li><a href=""><%= category_nav(category.name) %></a></li>
          <% end %>
        </ul>
        
        
      </div>
    </nav>
  </div>
  <div class="fixed-action-btn horizontal">
    <%= link_to "New Product", new_product_path, class: "new tooltipped",
      data: { position: "left", tooltip: "Đăng bán" } %>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

  <div id="products" class="row ctn">
    <% @products.each do |product| %>
      <div class="col s12 m6 l4">
        <div class="card hoverable"
          style="border-top: 3px solid <%= product.color %>"> 
          <%= image_tag product.buyer.avatar, class: "circle buyer-avatar" %>
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag product.attachments.first.file.url,
              class: "activator responsive-img" if product.attachments.any? %>
          </div>
          <%= link_to product do %>
            <div class="card-content" style="background: <%= product.color %>">
              <h6 class="truncate"><%= product.name %></h6>
              <p>
                <span>Đăng bởi:</span> <%= product.buyer.name %>
              </p>
            </div>
          <% end %>
          <div class="card-reveal">
            <span class="card-title" style="background: <%= product.color %>">
              <%= product.name %><i class="material-icons right">close</i>
            </span>
            <p><%= truncate product.description, length: 250 %></p>
            <span class="fixed-icon-bottom-right">
              <%= link_to "See more", product %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>