<%= title("Trang chủ") %>

<div id="market">
  <div class="nav-pushpin-wrapper pin-top">
    <nav class="primary-color">
      <div class="nav-wrapper center-align row">
        <div class="nav-tabs">
          <ul class="tabs">
            <li class="tab">
              <%= link_to category_nav, root_path(sort: params[:sort]),
                remote: true %>
            </li>
            
            <% @categories.each do |category| %>
            <li class="tab">
              <%= link_to category_nav(category),
                category_path(category, sort: params[:sort]),
                remote: true %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="ctn sort-div">
    <div class="valign-wrapper">
      <div class="valign inline-sort">Sắp xếp theo:</div>
      <div class="valign inline-sort">
        <%= form_tag root_path, method: :get do %>
          <%= select_tag 'sort', options_from_collection_for_sorting,
          class: "field-change" %>

          <%= submit_tag "Sort", class: "hide" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ctn">
    <!-- Render posts as default -->
    <div id="posts" class="posts row hide-on-change"> 
      <%= render @posts, post_class: "s12 m6 l3" %>
    </div>

    <div id="preloader-nav" class="center-align" style="display: none">
      <%= render "shared/circle_preloader", size: "small" %>
    </div>
  
    <div id="posts-infinite-scrolling" class="hide-on-change">
      <%= will_paginate @posts %>
    </div>
  </div>

</div>

<%= render "shared/go_to_top" %>

