<div id="market">
  <div class="nav-pushpin-wrapper pin-top">
    <nav class="primary-color z-depth-0">
      <div class="nav-wrapper center-align row">
        <div class="nav-tabs">
          <ul class="tabs">
            <li class="tab">
              <%= link_to category_nav("Trang chủ"),
                market_path(sort: params[:sort]),
                remote: true %>
            </li>
            
            <% @categories.each do |category| %>
            <li class="tab">
              <%= link_to category_nav(category.name),
                category_path(category, sort: params[:sort]),
                remote: true %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <br/>
  
  <div class="ctn sort-div">
    <div>Sắp xếp theo: </div>
    <div>
    <%= form_tag market_path, method: :get, class: "full-width" do %>
      <%= select_tag 'sort', options_from_collection_for_sorting %>

      <%= submit_tag "Sort", class: "hide" %>
    <% end %>
    </div>
  </div>

  <div class="ctn">
    <!-- Render posts as default -->
    <div id="posts" class="posts row"> 
      <%= render @posts, post_class: "s12 m6 l3" %>
    </div>

    <div id="preloader-nav" class="center-align" style="display: none">
      <%= render "shared/circle_preloader", size: "small" %>
    </div>
  
    <div id="posts-infinite-scrolling"><%= will_paginate @posts %></div>
  </div>

  
</div>