<div id="change-name-form" class="modal">
  <%= simple_form_for @user, validate: true,
    html: { class: "full-width" } do |f| %>

  <div class="modal-content">
    <div class="about-summary card row">
      <div class="about-bg"></div>
      <div class="about-name">
        <%= link_to edit_avatar_user_path(@user), remote: true,
          class: "change-avatar" do %>
          <%= image_tag(@user.avatar, class: "circle") %>
        <% end %>
        
        <div class="col s12 m6 l6">
          <%= f.input :name, label: "Tên", autofocus: true,
          input_html: { length: 45 }  %>
        </div>

        <div class="col s12 m6 l6">
          <%= f.input :username, input_html: { length: 20 } %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <%= f.button :button, 'cập nhật', class: "modal-action validation-btn" %>
    <a href="#!" class="modal-action modal-close btn-flat">Đóng</a>
  </div>
  <% end %>
</div>
