<div class="container">
  <div class="card-panel primary-color">
    <h5 class="center-align white-text">
      Thông báo
    </h5>
  </div>

  <div id="notifications">
    <% @notification_days.each do |day, notifications| %>
      <div class="group-by-date card">
        <h6 class="primary-color white-text">
          <%= day.strftime("%d - %m - %Y") %> (<%= notifications.count %>)
        </h6>
        
        <% notifications.each do |notification| %>
          <div class="card" id="<%= dom_id(notification, :hide) %>">
            <div class="right">
              <%= link_to material_icon_of("more_vert", class: "tiny"), "#",
                class: "dropdown-button more-vert",
                data: { activates: dom_id(notification, :delete) } %>

              <!-- Dropdown Structure -->
              <ul id="<%= dom_id(notification, :delete) %>" 
                class='dropdown-content dropdown-action'>
                <li><%= link_to "Xoá thông báo", notification, method: :delete,
                  remote: true, class: "delete",
                  data: { confirm: "Bạn có chắc xoá thông báo này không" } %>
                </li>
              </ul>
            </div>

            <div class="left-content left">
              <%= image_tag notification.commenter.avatar, class: "circle" %>
            </div>
            
            <div class="right-content">
              <%= link_to notification.commenter.name, notification.user %> 
                
              <% if notification.comment_id.nil? %>
                đã cho rằng tin 
                <%= link_to notification.post.title, notification.unread? ? 
                    post_path(notification.post,
                      notification_id: "#{notification.id}") : 
                    notification.post %> là: 
                <div class="message-content red-text">
                  <%= simple_format notification.content %>
                </div>
              <% else %>              
                đã  bình luận trên tin 
                <%= link_to notification.post.title,
                  notification.unread? ? post_path(notification.post, 
                  notification_id: "#{notification.id}", 
                  anchor: "comment_#{notification.comment_id}_div") : 
                  post_path(notification.post,
                  anchor: "comment_#{notification.comment_id}_div") %> 
                  với nội dung:
                  
                <div class="message-content">
                  <%= simple_format(truncate(notification.content,
                    length: 200)) %>
                </div>
              <% end %>
              
              <div class="time-ago">
                <%= notification.created_at.strftime("%H:%M:%S") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="center-align">
    <%= will_paginate @notification_days %>
  </div>
</div>