<div id="about-me" >
  <div id="about-title" class="center-align">
    <% if page_owner?(@user) %>
      <h4>Quản lý thông tin liên lạc của bạn</h4>
      <p>Thông tin càng chi tiết, mọi người dễ dàng liên lạc hơn và tin cậy sản phẩm của bạn hơn :)</p>
    <% else %>
      <h4>Trang cá nhân của <%= @user.name %></h4>
    <% end %>
    
  </div>
  
  <div id="about-description" class="container">
    <div class="about-summary card row">
      <div class="about-bg"></div>
      <div class="about-name">
        <% if policy? @user %>
          <%= link_to edit_user_path(@user), remote: true,
            class: "edit-name-icon" do %>
            <%= material_icon_of "edit" %>
          <% end %>
        
        <% end %>
          <%= link_to policy?(@user) ? edit_avatar_user_path(@user) : "#",
            remote: true,
            class: "change-avatar" do %>
            <%= image_tag(@user.avatar, class: "bordered-logo") %>
            <%= material_icon_of "photo_camera" if policy? @user %>
          <% end %>
          
        <h6>@<%= @user.username %></h6>
        <h4><%= @user.name %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6 about-block card">
        <h5>
          Thông tin liên hệ
          <% if policy? @user %>
            <%= link_to material_icon_of("edit"), "#edit-profile-form",
              class: "right modal-trigger" %>
          <% end %>
        </h5>

        <div class="row">
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#profile-contact"><%= material_icon_of "contact_phone" %></a>
            </li>
            <li class="tab col s6">
              <a href="#profile-social"><%= material_icon_of "share" %></a>
            </li>
          </ul>
        </div>

        <div id="profile-contact" class="col s12">
          <div class="about-info">
            <div>
              <%= material_icon_of "email", class: "left" %>
              <span><%= @user.email %></span>
            </div>

            <div>
              <%= material_icon_of "phone", class: "left" %>
              <span><%= @profile.phone %></span>
            </div>

            <div>
              <%= material_icon_of "place", class: "left" %>
              <span><%= @profile.address %></span>
            </div>
          </div>
        </div>

        <div id="profile-social" class="col s12">
          <div class="about-info">
            <div>
              <%= image_tag 'facebook.png', class: "left" %>
              <span><%= link_to "Facebook", @profile.fb_link %></span>
            </div>

            <div>
              <%= image_tag 'google.png', class: "left" %>
              <span><%= link_to "Google Plus", @profile.gg_link %></span>
            </div>
          </div>
        </div>

        <!-- Render modal file -->
        <%= render file: "profiles/edit" %>
      </div>

      <div class="col s12 m12 l6 about-block card right">
          <h5>
            Các tin đã đăng (<%= @user.posts.count %>)
            <%= link_to material_icon_of("keyboard_arrow_right"),
              @recent_posts.blank? ? "#" : user_posts_path(@user.username),
              class: "right" %>
          </h5>

          <div class="about-info">
            <% @recent_posts.each do |post| %>
              <div>
                <%= link_to post do %>
                  <%= image_tag post.first_attachment, class: "left" %>
                  <span><%= post.title %></span>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
