<div id="about-me" >
  <div id="about-title" class="center-align">
    <h4>Control what people see about you</h4>
    <p>Changes you make here may show up with content you create & share.</p>
  </div>
  
  <div id="about-description" class="container">
    <div class="about-summary card row">
      <div class="about-bg"></div>
      <div class="about-name">
        <%= link_to edit_user_path(@user), remote: true,
          class: "edit-name-icon" do %>
          <%= material_icon_of "edit" %>
        <% end %>
        
        <%= link_to edit_avatar_user_path(@user), remote: true,
          class: "change-avatar" do %>
          <%= image_tag(@user.avatar, class: "bordered-logo") %>
          <%= material_icon_of "photo_camera" %>
        <% end %>
          
        <h6>@<%= @user.username %></h6>
        <h4><%= @user.name %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6 about-block">
        <h5>
          Thông tin liên hệ
          <%= link_to material_icon_of("edit"), "#edit-profile-form",
            class: "right modal-trigger anchor-trigger" %>
        </h5>

        <div class="row">
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#profile-contact"><%= material_icon_of "contact_phone" %></a>
            </li>
            <li class="tab col s6">
              <a href="#profile-social"><%= material_icon_of "share" %></a>
            </li>
          </ul>
        </div>

        <div id="profile-contact" class="col s12">
          <div class="about-info">
            <div>
              <%= material_icon_of "phone" %>
              <span><%= @profile.phone %></span>
            </div>

            <div>
              <%= material_icon_of "email" %>
              <span><%= @user.email %></span>
            </div>

            <div>
              <%= material_icon_of "place" %>
              <span><%= @profile.address %></span>
            </div>
          </div>
        </div>

        <div id="profile-social" class="col s12">
          <div class="about-info">
            <div>
              <%= image_tag 'facebook.png' %>
              <span><%= link_to "Facebook", @profile.fb_link %></span>
            </div>

            <div>
              <%= image_tag 'google.png' %>
              <span><%= link_to "Google Plus", @profile.gg_link %></span>
            </div>
          </div>
        </div>

        <!-- Render modal file -->
        <%= render file: "profiles/edit" %>
      </div>

      <div class="col s12 m12 l6 about-block right">
          <h5>
            Posts (36)
          </h5>

          <div class="about-info">
            <div>
              <%= material_icon_of "looks_one" %>
              <span><%= Post.last.title %></span>
            </div>
            <div>
              <%= material_icon_of "looks_two" %>
              <span><%= Post.last.title %></span>
            </div>
            <div>
              <%= material_icon_of "looks_3" %>
              <span><%= Post.last.title %></span>
            </div>
            <div>
              <%= material_icon_of "looks_4" %>
              <span><%= Post.last.title %></span>
            </div>
            <div>
              <%= material_icon_of "looks_5" %>
              <span><%= Post.last.title %></span>
            </div>
            
            <a class="right" href="#">See more</a><br/>
          </div>
      </div>
    </div>
  </div>
</div>
