<div id="about-me">
  <div id="about-title" class="center-align">
    <h4>Control what people see about you</h4>
    <p>Changes you make here may show up with content you create & share.</p>
  </div>
  
  <div id="about-description" class="container">
    <div id="about-summary" class="card row">
      <div id="about-bg"></div>
      <div id="about-name">
        <%= image_tag @user.avatar, class: "circle" %>
        <h4><%= @user.name %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6" id="left-col">
        <div class="row">
          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Personal contact info <i class="material-icons right">edit</i>
            </h5>
            <div class="about-info">
              <div>
                <i class="material-icons">phone</i><span>0942544759</span>
              </div>
              <div>
                <i class="material-icons">email</i>
                <span><%= @user.email %></span>
              </div>
              <div>
                <i class="material-icons">place</i>
                <span>38 Binh Tan, Bac Binh, Binh Thuan</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Gender and Birthday <i class="material-icons right">edit</i>
            </h5>
            <div class="about-info">
              <div>
                <i class="material-icons">wc</i>
                <span>Nam</span>
              </div>
              <div>
                <i class="material-icons">cake</i>
                <span>20 - 7 - 1996</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Social Networking <i class="material-icons right">edit</i>
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag 'instagram.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'youtube.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'facebook.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'google.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'twitter.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'pinterest.png' %><span><%= @user.email %></span>
              </div>
            </div>
            <div class="divider"></div>
          </div>
        </div> 
      </div>

      <div class="col s12 m12 l6 right" id="right-col">
        <div class="row">
          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              My Posts (36)
            </h5>
            <div class="about-info">
              <div>
                <i class="material-icons">looks_one</i>
                <span><%= @user.posts.first.title %></span>
              </div>
              <div>
                <i class="material-icons">looks_two</i>
                <span><%= @user.posts.first.title %></span>
              </div>
              <div>
                <i class="material-icons">looks_3</i>
                <span><%= @user.posts.first.title %></span>
              </div>
              <div>
                <i class="material-icons">looks_4</i>
                <span><%= @user.posts.first.title %></span>
              </div>
              <div>
                <i class="material-icons">looks_5</i>
                <span><%= @user.posts.first.title %></span>
              </div>
              
              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Following (1597)
              <% user = User.first %>
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              
              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Followers (85)
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>

              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>