<div id="about-me" >
  <div id="about-title" class="center-align">
    <h4>Control what people see about you</h4>
    <p>Changes you make here may show up with content you create & share.</p>
  </div>
  
  <div id="about-description" class="container">
    <div class="about-summary card row">
      <div class="about-bg"></div>
      <div class="about-name">
        <%= link_to edit_name_user_path(@user), remote: true,
          class: "right" do %>
          <%= material_icon_of "edit" %>
        <% end %>
        
        <%= link_to edit_avatar_user_path(@user), remote: true,
          class: "change-avatar" do %>
          <%= image_tag(@user.avatar, class: "bordered-logo") %>
          <%= material_icon_of "photo_camera" %>
        <% end %>
          
        <h4><%= @user.name %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l6" id="left-col">
        <div class="row">
          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Personal contact info <%= material_icon_of "edit", class: "right" %>
            </h5>
            <div class="about-info">
              <div>
                <%= material_icon_of "phone" %>
                <span>0942544759</span>
              </div>
              <div>
                <%= material_icon_of "email" %>
                <span><%= @user.email %></span>
              </div>
              <div>
                <%= material_icon_of "place" %>
                <span>38 Binh Tan, Bac Binh, Binh Thuan</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Gender and Birthday 
              <%= material_icon_of "edit", class: "right" %>
            </h5>
            <div class="about-info">
              <div>
                <%= material_icon_of "wc" %>
                <span>Nam</span>
              </div>
              <div>
                <%= material_icon_of "cake" %>
                <span>20 - 7 - 1996</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Social Networking
              <%= material_icon_of "edit", class: "right" %>
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag 'instagram.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'youtube.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'facebook.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'google.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'twitter.png' %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag 'pinterest.png' %><span><%= @user.email %></span>
              </div>
            </div>
            <div class="divider"></div>
          </div>
        </div> 
      </div>

      <div class="col s12 m12 l6 right" id="right-col">
        <div class="row">
          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              My Posts (36)
            </h5>
            <div class="about-info">
              <div>
                <%= material_icon_of "looks_one" %>
                <span><%= Post.last.title %></span>
              </div>
              <div>
                <%= material_icon_of "looks_two" %>
                <span><%= Post.last.title %></span>
              </div>
              <div>
                <%= material_icon_of "looks_3" %>
                <span><%= Post.last.title %></span>
              </div>
              <div>
                <%= material_icon_of "looks_4" %>
                <span><%= Post.last.title %></span>
              </div>
              <div>
                <%= material_icon_of "looks_5" %>
                <span><%= Post.last.title %></span>
              </div>
              
              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Following (1597)
              <% user = User.first %>
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              
              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>

          <div class="card hoverable about-block col s12 m12 l12">
            <h5>
              Followers (85)
            </h5>
            <div class="about-info">
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>
              <div>
                <%= image_tag user.avatar %><span><%= @user.email %></span>
              </div>

              <a class="right" href="#">See more</a><br/>
            </div>
            <div class="divider"></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>