<!DOCTYPE html>
<html>
<head>
  <title>FoxFizz - The place to buy used stuff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
</head>

<body>
  
  <div id="lander">
    <div id="intro" class="parallax-container scrollspy">
      <div id="nav-wrapper">
        <nav>
          <div class="nav-wrapper ctn">
            <%= link_to root_path, class: "brand-logo" do %>
              <i class="material-icons">layers</i>
              <span class="hide-on-small-only">FoxFizz</span>
            <% end %>

            <ul class="hide-on-med-and-down right">
              <li>
                <%= link_to "Đăng nhập", new_user_session_path,
                  class: "login-btn" %>
              </li>
            </ul>          
          </div>
          
          <div id="login-wrapper" class="center-align hide-on-large-only">
            <a href="collapsible.html" class="login-btn">Đăng nhập</a>
          </div>
        </nav>
      </div>

        <div id="slide-banner" class="ctn row">
          <div class="col s12 m12 l8">
            <h1>Chợ mua bán <span>Gaming Gear</span></h1>
              <p>FoxFizz cho phép người dùng kết dùng kết nối, đăng tin rao vặt, buôn bán, trao đổi các sản phẩm trực tuyến ngay trên máy vi tính, điện thoại và máy tính bảng của bạn.</p>
            <h6>Đơn giản, tiện lợi, nhanh chóng và dễ sử dụng!</h6>
            <div class="re-action row">
              <a class="btn enter-btn col s6">Vào chợ</a>
              <a class="btn post-btn col s6 right">Đăng tin</a>
            </div>
          </div>
        </div>
    </div>

    <div id="features" class="center-align ctn scrollspy">
      <ul id="ft-list-1">
        <div class="row">
          <li>
            <div class="col s12 m12 l4">
              <%= image_tag 'pocket.png' %>
              <h2>Dễ dàng</h2>
              <p>Đăng tin dễ dàng chỉ với vài bước đơn giản.</p>
            </div>
          </li>
          
          <li>
            <div class="col s12 m12 l4">
              <%= image_tag 'compas.png' %>
              <h2>Đề xuất phù hợp</h2>
              <p>FoxFizz hiển thị theo khoảng cách, địa điểm, giúp bạn tìm kiếm những sản phẩm phù hợp.</p>
            </div>
          </li>
          
          <li>
            <div class="col s12 m12 l4">
            <%= image_tag 'spaceship.png' %>
              <h2>Nhanh chóng</h2>
              <p>Tìm kiếm sản phẩm một cách nhanh chóng - Trao đổi, thương lượng một cách linh hoạt.</p>
            </div>
          </li>
        </div>
      </ul>

      <div class="row">
        <ul id="ft-list-2">
          <li>
            <div class="col s12 m12 l4">
              <%= image_tag 'money.png' %>
              <h2>Miễn phí</h2>
              <p>FoxFizz không thu bất kỳ khoản phí nào của bạn và mãi luôn luôn như vậy.</p>
            </div>
          </li>
          
          <li>
            <div class="col s12 m12 l4">
              <%= image_tag 'responsive.png' %>
              <h2>Tiện lợi</h2>
              <p>Sử dụng tốt trên mọi thiết bị giúp bạn có thể truy cập bất kỳ nơi đâu và bất cứ lúc nào.</p>
            </div>
          </li>

          <li> 
            <div class="col s12 m12 l4">
              <%= image_tag 'shield.png' %>
              <h2>An toàn</h2>
              <p>FoxFizz cam kết sẽ bảo mật thông tin của bạn tốt nhất có thể.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="non-prl parallax-container">
    </div>
    
    <div id="feedbacks" class="scrollspy">
      <h4>Mọi người nói về FoxFizz</h4>

      <div class="slider">
        <ul class="slides">
          <li>
            <div class="caption left-align">
              <div>
                <%= image_tag 'avatar1.jpg', class: 'circle' %>
              </div>
              <h5>Tôi điều hành một cửa hàng nhỏ buôn bán các thiết bị về game, từ ngày sử dụng chợ doanh thu tăng lên rất nhiều. Buôn bán nhanh chóng và hiệu quả.</h5>
              <p>- Tin Trinh, UIT</p>
            </div>
          </li>

          <li>
            <div class="caption center-align">
              <div>
                <%= image_tag 'avatar2.jpg', class: 'circle' %>
              </div>
              <h5>Do còn là sinh viên nên mình rất thích mua hàng cũ, trước đây khi cần mua món nào đó để chăm chút cho PC yêu dấu mình luôn cảm thấy rất vất vả và bất tiện. Từ ngày biết trang này mình đã tìm được những món hàng ưng ý.</h5>
              <p>- Quoc Anh, UIT</p>
            </div>
          </li>

          <li>
            <div class="caption right-align">
              <div>
                <%= image_tag 'avatar3.jpg', class: 'circle' %>
              </div>
              <h5>Mình rất thích chơi game và yêu thích các loại phụ kiện hỗ trợ chơi game, mình thường mua đi bán lại để trải nghiệm nhiều loại gear hơn, tuy nhiên việc mua bán không mấy nhanh. Sau khi đăng lên trang này mình đã bán được trong vòng 1 tuần, rất hạnh phúc.</h5>
              <p>- Tan Cuong, UIT</p>
            </div>
          </li> 
        </ul>
      </div>
    </div>
    
    <div id="invitation" class="parallax-container scrollspy">
      <div class="section center-align container">
        <h3>Bạn còn chần chừ gì nữa?</h3>
        <div class="re-action row">
          <a class="btn enter-btn col s6">Vào chợ</a>
          <a class="btn post-btn col s6 right">Đăng tin</a>
        </div>
      </div>
      <div class="parallax"><%= image_tag 'mouse-bg.jpg' %></div>
    </div>

    <div id="contact" class="scrollspy">
      <div class="container">
        <div class="center-align">
          <h5>Liên hệ với chúng tôi</h5>
          <%= image_tag 'msg-icon.png' %>
        </div>

         <div class="row">
            <form class="col s12 m12 l12">
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" required>
                    <label data-error="wrong" for="icon_prefix">Tên</label>
                  </div>

                  <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_prefix" type="text" class="validate" required>
                    <label data-error="wrong" for="icon_prefix">Điện thoại</label>
                  </div>

                  <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_telephone" type="email" class="validate" required>
                    <label data-error="wrong" for="icon_telephone">Email</label>
                  </div>
                </div>

                <div class="col s12 m6 l6">
                  <div class="input-field col s12">
                  <i class="material-icons prefix">label</i>
                  <input id="icon_telephone" type="tel" class="validate" length="50" required>
                  <label data-error="wrong" for="icon_telephone">Tiêu đề</label>
                </div>

                <div class="input-field col s12">
                  <i class="material-icons prefix">message</i>
                  <textarea id="contact-message" class="materialize-textarea"
                    length="300" class="validate" required></textarea>
                  <label data-error="wrong" for="contact-message">Nội dung</label>
                </div>
                </div>
              </div>

              <button class="btn waves-effect waves-light" type="submit">
                Gửi
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
      </div>
    </div>

    <div id="invitation" class="parallax-container scrollspy">
      <div class="parallax"><%= image_tag 'keyboard-bg.jpg' %></div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12 white-text">
            <div id="footer-logo">
              <a href="">
              <i class="material-icons">layers</i>
              <span>FoxFizz</span>
              </a>
            </div>
            <h6>Kết nối với chúng tôi</h6>
            <p>
              <a href="http://fb.com/foxfizz"><%= image_tag 'fb.png' %></a>
              <a href="http://fb.com/foxfizz"><%= image_tag 'gg.png' %></a>
              <a href="http://fb.com/foxfizz"><%= image_tag 'isg.png' %></a>
              <a href="http://fb.com/foxfizz"><%= image_tag 'yt.png' %></a>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a href="#!">About</a></li>
              <li><a href="#!">Terms of Use</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="#!">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="center-align">
         Copyright © 2016 FoxFizz Inc. All rights reserved.
        </div>
      </div>
    </footer>

    <div id="tabs-fixed" class="hide-on-small-only">
      <ul class="section table-of-contents">
        <li><a href="#intro" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Giới thiệu"></a></li>
        <li><a href="#features" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Tính năng"></a></li>
        <li><a href="#feedbacks" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Phản hồi của khách hàng"></a></li>
        <li><a href="#contact" class="tooltipped" data-position="left" data-delay="50" data-tooltip="Liên hệ"></a></li>
      </ul>
    </div>
  </div>
</body>
</html>
