<%= title("Bảng điều khiển") %>

<div class="container">
  <h1>Welcome to Admin Lounge</h1>

  <ul>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Posts", "#" %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>
    <li><%= link_to "Tags", "#" %></li>

  </ul>
</div>

<div class="row">
  <div class="col s12 m12 l6">
    <canvas id="newUsersChart" class="chart-js"></canvas>
  </div>
  
  <div class="col s12 m12 l6">
    <canvas id="loginUserCountChart" class="chart-js"></canvas>
  </div>
 
  <div class="col s12 m12 l8">
    <canvas id="postsByCategoryChart" class="chart-js"></canvas>
  </div>

  <div class="col s12 m12 l4">
    <div id='top-users' class="chart-js">
      <ul class="collection">
          <li class="collection-header">
            <h5 class="center-align">Top Users</h5>
          </li>
        <% @top_users.each do |user| %>
          <li class="collection-item avatar">
            <%= image_tag user.avatar, class: 'circle' %>
            <span class="title">
              <%= user.name %> (<%= user.sign_in_count %>)
            </span>
            <p>@<%= user.username %></p>
            <%= link_to material_icon_of("input"), user, target: "_black",
              class: "secondary-content" %>
         </li>
        <% end %>
      </ul>
    </div>
  </div>


</div>

<script>
  $(window).on('load', function() {
    // newUsersChart
    var ctx = document.getElementById("newUsersChart");

    var labelNewUsers = <%= raw User.new_users_chart('label').to_json %>;
    var dataGGNewUsers = <%= User.new_users_chart('data', 'google_oauth2') %>;
    var dataFBNewUsers = <%= User.new_users_chart('data', 'facebook') %>;

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labelNewUsers,
        datasets: [
        {
          label: 'Google',
          data: dataGGNewUsers,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
          ],
          borderWidth: 1
        },
        {
          label: 'Facebook',
          data: dataFBNewUsers,
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
          ],
          borderWidth: 1
        }
        ]
      },
      options: {
        title:{
          display:true,
          text:"Người dùng mới"
        },
        scales: {
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero:true
            }
          }],
          xAxes: [{
            stacked: true,
          }]
        }
      }, 
    });


    // loginUserCountChart
    var ctx = document.getElementById("loginUserCountChart");

    var labelLoginUserCount = <%= raw User.login_user_count_chart('label').to_json %>;
    var dataLoginUserCount = <%= User.login_user_count_chart('data') %>;

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labelLoginUserCount,
        datasets: [
        {
          data: dataLoginUserCount,
          fill: true,
          lineTension: 0,
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderColor: "rgba(75, 192, 192, 1)",
          borderCapStyle: 'round',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'round',
          pointBorderColor: "rgba(75, 192, 192, 1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 5,
          pointHoverRadius: 1,
          pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
          pointHoverBorderColor: "rgba(75, 192, 192, 1)",
          pointHoverBorderWidth: 5,
          pointRadius: 1,
          pointHitRadius: 10,
          spanGaps: true,
        },
        ]
      },
      options: {
        title:{
          display: true,
          text:"Lượt đăng nhập"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }],
        },
        legend: {
          display: false,
        }
      }, 
    });


    // postsByCategoryChart
    var ctx = document.getElementById("postsByCategoryChart");

    var labelPostsByCategoryChart 
          = <%= raw Category.labels_7_days_ago.to_json %>;
    var dataPostsByHeadsetChart = <%= Category.find(1).data_posts_chart %>;
    var dataPostsByKeyboardChart = <%= Category.find(2).data_posts_chart %>;
    var dataPostsByMouseChart = <%= Category.find(3).data_posts_chart %>;
    var dataPostsByOtherChart = <%= Category.find(4).data_posts_chart %>;

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labelPostsByCategoryChart,
        datasets: [
          {
            data: dataPostsByHeadsetChart,
            label: "Tai nghe",
            fill: false,
            lineTension: 0.5,
            backgroundColor: "rgba(1,192,200, 0.4)",
            borderColor: "rgba(1,192,200, 1)",
            borderCapStyle: 'round',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'round',
            pointBorderColor: "rgba(1,192,200, 1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 5,
            pointHoverRadius: 1,
            pointHoverBackgroundColor: "rgba(1,192,200, 0.4)",
            pointHoverBorderColor: "rgba(1,192,200, 1)",
            pointHoverBorderWidth: 5,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: true,
          },
          {
            data: dataPostsByKeyboardChart,
            label: "Bàn phím",
            fill: false,
            lineTension: 0.5,
            backgroundColor: "rgba(171,140,228, 0.4)",
            borderColor: "rgba(171,140,228, 1)",
            borderCapStyle: 'round',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'round',
            pointBorderColor: "rgba(171,140,228, 1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 5,
            pointHoverRadius: 1,
            pointHoverBackgroundColor: "rgba(171,140,228, 0.4)",
            pointHoverBorderColor: "rgba(171,140,228, 1)",
            pointHoverBorderWidth: 5,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: true,
          },
          {
            data: dataPostsByMouseChart,
            label: "Chuột",
            fill: false,
            lineTension: 0.5,
            backgroundColor: "rgba(251,150,120, 0.4)",
            borderColor: "rgba(251,150,120, 1)",
            borderCapStyle: 'round',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'round',
            pointBorderColor: "rgba(251,150,120, 1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 5,
            pointHoverRadius: 1,
            pointHoverBackgroundColor: "rgba(251,150,120, 0.4)",
            pointHoverBorderColor: "rgba(251,150,120, 1)",
            pointHoverBorderWidth: 5,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: true,
          },
          {
            data: dataPostsByOtherChart,
            label: "Khác",
            fill: false,
            lineTension: 0.5,
            backgroundColor: "rgba(0,194,146, 0.4)",
            borderColor: "rgba(0,194,146, 1)",
            borderCapStyle: 'round',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'round',
            pointBorderColor: "rgba(0,194,146, 1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 5,
            pointHoverRadius: 1,
            pointHoverBackgroundColor: "rgba(0,194,146, 0.4)",
            pointHoverBorderColor: "rgba(0,194,146, 1)",
            pointHoverBorderWidth: 5,
            pointRadius: 1,
            pointHitRadius: 10,
            spanGaps: true,
          },
        ]
      },
      options: {
        title:{
          display: true,
          text:"Số lượng tin mới"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }],
        },
        tooltips: {
          mode: 'index',
          backgroundColor: 'rgba(16,18,21, 0.4)',
          cornerRadius: 2,
          xPadding: 15,
          yPadding: 15,
          titleMarginBottom: 20,
          callbacks: {
            label: function(tooltipItem, data) {
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].label;
              return '  ' + datasetLabel + ' (' + tooltipItem.yLabel + ')';
            },
            afterLabel: function(tooltipItem, data) {
              return '\n';
            }
          }
        }
      }, 
    });
  });
</script>