<%= title("Bảng điều khiển") %>

<div id="dashboad-boxes" class="row">
  <!-- Users -->
  <div class="col s12 m6 l3 group">
    <%= link_to admin_users_path do %>
    <div class="row dashboad-box primary-color">
      <div class="col s7 m7 l7">
        <%= material_icon_of "group" %>
        <h6 class="dashboad-title">Người dùng</h6>
      </div>
      <div class="col s5 m5 l5">
        <div class="number-in-box"><%= @total_users %></div>
      </div>
      
      <div class="col s12 m12 l12 divider-wrapper">
        <div class="divider-box"></div>
      </div>
    </div>
    <% end %>
  </div>
  
  <!-- Posts -->
  <div class="col s12 m6 l3 description">
    <%= link_to admin_posts_path do %>
    <div class="row dashboad-box primary-color">
      <div class="col s7 m7 l7">
        <%= material_icon_of "description" %>
        <h6 class="dashboad-title">Tin</h6>
      </div>
      <div class="col s5 m5 l5">
        <div class="number-in-box"><%= @total_posts %></div>
      </div>
      
      <div class="col s12 m12 l12 divider-wrapper">
        <div class="divider-box"></div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Categories -->
  <div class="col s12 m6 l3 list">
    <%= link_to admin_categories_path do %>
    <div class="row dashboad-box primary-color">
      <div class="col s7 m7 l7">
        <%= material_icon_of "list" %>
        <h6 class="dashboad-title">Danh mục</h6>
      </div>
      <div class="col s5 m5 l5">
        <div class="number-in-box"><%= @total_categories %></div>
      </div>
      
      <div class="col s12 m12 l12 divider-wrapper">
        <div class="divider-box"></div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Settings -->
  <div class="col s12 m6 l3 settings">
    <%= link_to admin_settings_path do %>
    <div class="row dashboad-box primary-color">
      <div class="col s7 m7 l7">
        <%= material_icon_of "settings" %>
        <h6 class="dashboad-title">Hệ thống</h6>
      </div>
      <div class="col s5 m5 l5">
        <div class="number-in-box"><%= @total_junks %></div>
      </div>
      
      <div class="col s12 m12 l12 divider-wrapper">
        <div class="divider-box"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l6">
    <canvas id="newUsersChart" class="chart-js primary-color"></canvas>
  </div>
  
  <div class="col s12 m12 l6">
    <canvas id="userLoginCount" class="chart-js primary-color"></canvas>
  </div>
 
  <div class="col s12 m12 l8">
    <canvas id="postsByCategoryChart" class="chart-js primary-color"></canvas>
  </div>

  <div class="col s12 m12 l4">
    <div id='top-users' class="chart-js primary-color">
      <ul class="collection">
          <li class="collection-header">
            <h5 class="center-align">Top Users</h5>
          </li>
        <% @top_users.each do |user| %>
          <li class="collection-item avatar">
            <%= image_tag user.avatar, class: 'circle' %>
            <span class="title">
              <%= user.name %> (<%= user.sign_in_count %>)
            </span>
            <p>@<%= user.username %></p>
            <%= link_to material_icon_of("open_in_new"), user, target: "_black",
              class: "secondary-content" %>
         </li>
        <% end %>
      </ul>
    </div>
  </div>


</div>

<script>
  $(window).on('load', function() {
    // newUsersChart
    var ctx = document.getElementById("newUsersChart");

    var labelNewUsers = <%= raw User.new_users_chart('label') %>;
    var dataGGNewUsers = <%= User.new_users_chart('data', 'google_oauth2') %>;
    var dataFBNewUsers = <%= User.new_users_chart('data', 'facebook') %>;

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labelNewUsers,
        datasets: [
        {
          label: 'Google',
          data: dataGGNewUsers,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
          ],
          borderWidth: 1
        },
        {
          label: 'Facebook',
          data: dataFBNewUsers,
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
          ],
          borderWidth: 1
        }
        ]
      },
      options: {
        title:{
          display:true,
          text:"Người dùng mới"
        },
        scales: {
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero:true
            }
          }],
          xAxes: [{
            stacked: true,
          }]
        }
      }, 
    });


    // userLoginCount
    var ctx = document.getElementById("userLoginCount");

    var labelUserLoginCount = <%= raw User.user_sign_in_count_chart('label') %>;
    var dataUserLoginCount = <%= User.user_sign_in_count_chart('data') %>;

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labelUserLoginCount,
        datasets: [
        {
          data: dataUserLoginCount,
          fill: true,
          lineTension: 0,
          backgroundColor: "rgba(75, 192, 192, 0.2)",
          borderColor: "rgba(75, 192, 192, 1)",
          borderCapStyle: 'round',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'round',
          pointBorderColor: "rgba(75, 192, 192, 1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 5,
          pointHoverRadius: 1,
          pointHoverBackgroundColor: "rgba(75, 192, 192, 0.2)",
          pointHoverBorderColor: "rgba(75, 192, 192, 1)",
          pointHoverBorderWidth: 5,
          pointRadius: 1,
          pointHitRadius: 10,
          spanGaps: true,
        },
        ]
      },
      options: {
        title:{
          display: true,
          text:"Lượt đăng nhập"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }],
        },
        legend: {
          display: false,
        }
      }, 
    });


    // postsByCategoryChart
    var ctx = document.getElementById("postsByCategoryChart");

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: labelByCategoriesChart,
        datasets: [
          <% Category.all.each do |category| %>
            {
              data: <%= category.data_posts_chart %>,
              label: '<%= category.name %>',
              fill: false,
              lineTension: 0.5,
              backgroundColor: "<%= category.color %>",
              borderColor: "<%= category.color %>",
              borderCapStyle: 'round',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'round',
              pointBorderColor: "<%= category.color %>",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 5,
              pointHoverRadius: 1,
              pointHoverBackgroundColor: "<%= category.color %>",
              pointHoverBorderColor: "<%= category.color %>",
              pointHoverBorderWidth: 5,
              pointRadius: 1,
              pointHitRadius: 10,
              spanGaps: true,
            },
          <% end %>
        ]
      },
      options: {
        title:{
          display: true,
          text:"Số lượng tin mới"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }],
        },
        tooltips: {
          mode: 'index',
          backgroundColor: 'rgba(16,18,21, 0.4)',
          cornerRadius: 2,
          xPadding: 15,
          yPadding: 15,
          titleMarginBottom: 20,
          callbacks: {
            label: function(tooltipItem, data) {
              var datasetLabel = data.datasets[tooltipItem.datasetIndex].label;
              return '  ' + datasetLabel + ' (' + tooltipItem.yLabel + ')';
            },
            afterLabel: function(tooltipItem, data) {
              return '\n';
            }
          }
        }
      }, 
    });
  });
</script>