<div id="update-access-token" class="modal">
  <%= simple_form_for [:admin, @super_user], method: :patch,
    url: update_access_token_admin_settings_path,
    html: { autocomplete: 'off' } do |f| %>
    <div class="modal-content">
      <h4>Cập nhật Facebook access token</h4>
      <br>
      
      <%= f.input :password, input_html: { autocomplete: "new-password" } %>
      <%= f.input :access_token, input_html: { value: nil } %>
    </div>

    <div class=" modal-footer">
      <%= button_tag type: :submit, class: "btn btn-flat modal-action teal lighten-1 white-text" do %>
        Gửi <%= material_icon_of "send", class: "right" %>
      <% end %>
      <a class="modal-action modal-close btn-flat">Đóng</a>
    </div>
  <% end %>
</div>
