<%= simple_form_for [:admin, category], validate: true, remote: true,
  html: { autocomplete: 'off' } do |f| %>
  <%= f.input :name,
    label_html: { class: ("active" unless category.new_record?) } %>
  <%= f.input :icon,
    label_html: { class: ("active" unless category.new_record?) } %>
  
  <div class=" modal-footer">
    <%= button_tag type: :submit, class: "submit-btn btn validation-btn" do %>
      <%= category.new_record? ? "Tạo" : "Cập nhật" %>
    <% end %>
    <a class="modal-action modal-close btn-flat">Đóng</a>
  </div>
<% end %>