<%= simple_form_for post, html: { multipart: true,
  id: 'attachments-dropzone', class: 'dropzone' } do |f| %>

  <%= f.input :title, label: "Tiêu đề" do %>
    <%= f.input_field :title, length: 60 %>
    <i class="material-icons prefix">label</i>
  <% end %>
  
  <%= f.input :address, label: "Nơi bán" do %>
    <%= f.input_field :address, length: 60, placeholder: "Quận 1, Hồ Chí Minh",
      value: location_address(post.address) %>
    <i class="material-icons prefix">location_on</i>
    <i class="material-icons clear-input tooltipped" data-position="bottom"
      data-tooltip="Vị trí sai?">clear</i>
  <% end %>

  <%= f.input :price, label: "Giá (VND)" do %>
    <%= f.input_field :price, min: 1000, step: 1000, class: "price" %>
    <i class="material-icons prefix">monetization_on</i>
  <% end %>
  
  <%= f.input :description, label: "Mô tả sản phẩm" do %>
    <%= f.input_field :description, length: 500 %>
    <i class="material-icons prefix">message</i>
  <% end %>

  <%= f.association :category, label: "Danh mục", as: :radio_buttons,
    checked: post.category_id || Category.first.id %>

  <%= f.input :rejected_ids, as: :hidden,
    input_html: { id: "rejected_ids" } %>
  <div id="preview-wrapper">
  <% if @post.attachments.any? %>
      <% @post.attachments.each do |attachment| %>
        <div class="dz-preview dz-processing dz-image-preview dz-success
          dz-complete" id="<%= attachment.id %>">
          <div class="dz-image">
            <%= image_tag attachment.file.url %>
            <i id="<%= attachment.id %>"
              class="material-icons remove_thumb">clear</i>
          </div>
          <div class="dz-details">
            <div class="dz-size">
              <span data-dz-size>
                <strong>
                  <%= number_to_human_size attachment.file.size %>
                </strong>
              </span>
            </div>
            <div class="dz-filename">
              <span data-dz-name>
                <%= File.basename attachment.file.url %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
    </div>
  
  <%= f.button :button, id: "submit-btn" do %>
    <%= post.new_record? ? "Đăng" : "Cập nhật" %>
    <i class="material-icons right">send</i>
  <% end %>
<% end %>
