<%= simple_form_for post, validate: true,
  html: { multipart: true, id: 'attachments-dropzone',
  class: 'dropzone' } do |f| %>

  <%= f.input :title, label: "Bạn bán gì?" do %>
    <%= f.input_field :title, length: 60 %>
    <%= material_icon_of "label", class: "prefix" %>
  <% end %>
  
  <%= f.input :address, label: "Nơi bán" do %>
    <%= f.input_field :address, length: 60,
      placeholder: "Quận 1, Hồ Chí Minh",
      value: post.address || location %>
    <%= material_icon_of "location_on", class: "prefix" %>
  <% end %>

  <%= f.input :price, label: "Giá (VND)" do %>
    <%= f.input_field :price, min: 1000, step: 1000, class: "price" %>
    <%= material_icon_of "attach_money", class: "prefix" %>
  <% end %>
  
  <%= f.input :description, label: "Mô tả sản phẩm" do %>
    <%= f.input_field :description, length: 500 %>
    <%= material_icon_of "message", class: "prefix" %>
  <% end %>

  <%= f.label :tag_names, "Tag", class: "tooltipped",
    data: { tooltip: "Thêm tag để mọi người tìm tin của bạn dễ hơn",
      position: "top" }  %>
  <%= f.input :tag_names, label: false do %>
    <%= f.input_field :tag_names, as: :hidden, id: "tag_names",
      value: post.tag_names_as_string %>
    <div class="chips" id="chips-tag-names">
    </div>
  <% end %>
  
  <%= f.association :category, label: "Danh mục", as: :radio_buttons,
    checked: post.category_id || Category.first.id %>

  <!-- Attachments -->
  <%= f.input :rejected_ids, as: :hidden,
    input_html: { id: "rejected_ids" } %>
  <div id="preview-wrapper">
    <% if post.attachments.any? %>
        <%= render post.attachments %>
    <% end %>
  </div>
  
  <%= f.button :button, id: "submit-btn" do %>
    <%= post.new_record? ? "Đăng" : "Cập nhật" %>
    <%= material_icon_of "send", class: "right" %>
  <% end %>
<% end %>

<script>
  $(function() {
    // Initialize chips
    $('#chips-tag-names').material_chip({
      placeholder: 'Nhập tag mới',
      secondaryPlaceholder: 'Nhấn Enter để nhập. Delete để xoá',
      data: [
        <% post.tags.each do |tag| %>
          { tag: '<%= tag.name %>'},
        <% end %>
      ]
    });

    // Update hidden field for params
    $('#chips-tag-names').on('chip.add', function(e, chip){
      var tag_names = $("#tag_names").val() || "";
      $("#tag_names").val(tag_names + "," + chip.tag)
    });

    $('#chips-tag-names').on('chip.delete', function(e, chip){
      var tag_names = $("#tag_names").val() || "";
      $("#tag_names").val(tag_names.replace(chip.tag, ""))
    });
  })
</script>
