<div class="col <%= post_class %>">
  <%= link_to post, class: 'non-waves-effect' do %>
  <div class="card post">
    <div class="img-with-overlay valign-wrapper">
      <%= image_tag post.attachments.first.file,
        class: "responsive-img valign" %>
      
      <div class="overlay">
        <div class="overlay-bg"></div>
        <div>
          <%= material_icon_of "location_on", class: "tiny" %> 
          <%= post.address %>
        </div>
        <div class="small-text">
          (khoảng <%= post.distance_from(location).round(1) %> km)
        </div><br/>

        <div>
          <%= material_icon_of "access_time", class: "tiny" %> 
          <%= date_or_time_ago_in_words post.created_at %>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    <div class="post-details">
      <div class="right post-price"><%= number_to_currency post.price %></div>
      <div class="post-title"><%= post.title %></div>
    </div>
  </div>
  <% end %>
</div>