<div class="col s12 m6 l4">
  <div class="card hoverable z-depth-0"> 
    <%= image_tag post.buyer.avatar, class: "circle buyer-avatar" %>
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag post.attachments.first.file.url,
        class: "activator responsive-img" if post.attachments.any? %>
    </div>

    <div class="card-content">
      <%= link_to post do %>
        <div class="truncate post-title"><%= post.title %></div>
      <% end %>
      
      <div class="more-info">
        <div class="truncate">
          <i class="material-icons small left">monetization_on</i>
          <%= number_to_currency post.price %>
        </div>

        <div class="truncate">
          <i class="material-icons small left">location_on</i>
          <span>
            <div class="divider"></div>
            <%= post.address %>
            <span class="distance">
              khoảng <%= post.distance_from(location_address).round(1) %> km
            </span>
          </span>
        </div>

        <div class="truncate">
          <i class="material-icons small left">access_time</i>
          <span>
            <div class="divider"></div>
            <%= time_ago_in_words post.created_at %>
          </span>
        </div>
        
        <div class="truncate">
          <i class="material-icons small left">person</i>
          <span><div class="divider"></div><%= post.buyer.name %></span>
        </div>
      </div>
    </div>

    <div class="card-reveal">
      <span class="card-title truncate">
        <%= post.title %><i class="material-icons right">close</i>
      </span>
      <p><%= truncate( simple_format(post.description), length: 250) %></p>
      <span class="fixed-icon-bottom-right">
        <%= link_to "See more", post %>
      </span>
    </div>
  </div>
</div>
