<br/>
<br/>
<br/>

<div class="row">
  <div class="col s12 m9 l9">
    <div id="post" class="card">
      <div class="right">
        <a class='dropdown-button more-vert' data-activates='post-action'>
          <%= material_icon_of "more_vert" %>
        </a>

      <!-- Dropdown Structure -->
      <ul id='post-action' class='dropdown-content dropdown-action'>
        

        <%# if current_user == @post.owner %>
          <li><%= link_to "Đánh dấu là #{@post.sold? ? 'chưa' : 'đã'} bán",
            mark_as_sold_post_path(@post), remote: true, method: :patch,
            class: "persistent mark #{'active' if @post.sold?}" %></li>
          <li><%= link_to "Chỉnh sửa", [:edit, @post],
            class: "edit" %></li>
          <li><%= link_to "Xoá tin", @post, method: :delete,
            data: { confirm: "Bạn có chắc chắn xoá tin này?" },
            class: "delete" %></li>
        <%# else %>
          <li><%= link_to "Báo cáo tin này", @post, method: :delete,
            data: { confirm: "Bạn có chắc chắn xoá tin này?" },
            class: "report" %></li>
        <%# end %>
        
        
      </ul>
      </div>
      <header>
        <h4><%= @post.title %></h4>
      </header>
      <div class="divider"></div>

      <div class="row">
        <div class="col s12 m6 l6">
          <div id="slider" class="flexslider">
            <ul class="slides">
              <% @post.attachments.each do |attachment| %>
                <li><%= image_tag attachment.file.url, class: "zoom-in responsive-img" %></li>
              <% end %>
            </ul>
          </div>
          <div id="carousel" class="flexslider">
            <ul class="slides">
              <% @post.attachments.each do |attachment| %>
                <li><%= image_tag attachment.file.url,
                  class: "responsive-img" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <p><%= render @post.tags %></p>
          <p>Adress: <%= @post.address %></p>
          <p><%= simple_format(@post.description) %></p>
          <p>
          <%= @post.latitude %>, <%= @post.longitude %>
          </p>
        </div>
      </div>

      <div class="divider"></div>
      
      <div class="action-bar">
        <% if user_signed_in? %>
        <%= link_to favorite_post_path(@post), class: "favorite persistent",
          method: :patch, remote: true do %>
          <% if current_user.favorite?(@post) %>
            <%= material_icon_of 'favorite', class: "liked" %>
          <% else %>
            <%= material_icon_of 'favorite_border' %>
          <% end %>
        <% end %>
        <% end %>

        <%= link_to (material_icon_of "forum"), "#", class: "comments-btn" %>

        <%= link_to (material_icon_of "share"), "#social-share",
          class: "share modal-trigger" %>
      </div>

      <%= render "social_share", full_path: post_url(@post) %>
    </div>

    <div id="comments">
      <%= commontator_thread(@post) %>
    </div>
  </div>
  
  <div class="col s12 m3 l3 card">
    <div class="posts">
      <h5>Có thể bạn quan tâm</h5>

      <%= render @related_posts, post_class: "s12 m12 l12" %>
    </div>
  </div>
</div>
