<br/>

<div class="row">
  <div class="col s12 m12 l9">
    <div id="post" class="card">
      <% if user_signed_in? %>
        <div class="right">
          <a class='dropdown-button more-vert' data-activates='post-action'>
            <%= material_icon_of "more_vert" %>
          </a>
           
          <ul id='post-action' class='dropdown-content dropdown-action'>
            <% if policy? @post.owner %>
              <li><%= link_to "Đánh dấu là #{@post.sold? ? 'chưa' : 'đã'} bán",
                mark_as_sold_post_path(@post), remote: true, method: :patch,
                class: "persistent mark #{'active' if @post.sold?}" %></li>
              <li><%= link_to "Chỉnh sửa", [:edit, @post],
                class: "edit" %></li>
              <li><%= link_to "Xoá tin", @post, method: :delete,
                data: { confirm: "Bạn có chắc chắn xoá tin này?" },
                class: "delete" %></li>
            <% else %>
              <li><%= link_to "Báo cáo tin này", '#report-post-form',
                class: "report modal-trigger" %></li>
            <% end %>       
          </ul>
        </div>

        <%= render 'report' %>
      <% end %>
      <h5 class="bold white-text padding-grid">
        <%= @post.title %>
      </h5>

      <div class="card-action"> 
        <div class="row">
          <div class="col s12 m12 l8">
            <div class="flexslider">
              <ul class="slides">
                <% @post.attachments.each do |attachment| %>
                <li class="valign-wrapper center-align zoom-in">
                  <%= image_tag attachment.file.url, class: "valign" %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="col s12 m12 l4">
            <table>
              <thead>
                <tr>
                  <th class="bold">Địa điểm</th>
                  <td><%= @post.address %></td>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="bold">Giá</th>
                  <td><%= number_to_currency @post.price %></td>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="bold">Tình trạng</th>
                  <td class="state">
                    <%= @post.sold? ? "Đã bán" : "Chưa bán" %>
                  </td>
                </tr>
              </thead>
              <thead>
                <tr>
                <th class="bold">Người đăng</th>
                <td><%= link_to @post.owner.name,
                  user_profile_path(@post.owner.username) %></td>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th class="bold">Ngày đăng</th>
                  <td>
                    <%= date_or_time_ago_in_words @post.created_at, "lúc" %>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="bold">Tag</th>
                  <td><%= render @post.tags %></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="col s12 m12 l12">
            <div class="divider hide-on-large-only"></div>
            
            <h6 class="bold post-body">Mô tả: </h6>
            <blockquote><%= simple_format @post.description %></blockquote>
          </div>
        </div>

        <div class="divider"></div>
        
        <div class="action-bar">
          <% if user_signed_in? %>
            <%= link_to favorite_post_path(@post),
              class: "favorite persistent", method: :patch, remote: true do %>
              <% if current_user.favorite?(@post) %>
                <%= material_icon_of 'favorite', class: "liked" %>
              <% else %>
                <%= material_icon_of 'favorite_border' %>
              <% end %>
            <% end %>
          <% end %>

          <%= link_to (material_icon_of "forum"), "#", class: "comments-btn" %>

          <%= link_to (material_icon_of "share"), "#social-share",
            class: "share modal-trigger" %>
        </div>

        <%= render "social_share", full_path: post_url(@post) %>
      </div>
    </div>

    <div id="comments">
      <%= commontator_thread(@post) %>
    </div>
  </div>
  
  <div class="col s12 m12 l3">
    <div class="posts">
      <h6 class="padding-grid">Có thể bạn quan tâm</h6>

      <%= render @related_posts, post_class: "s12 m6 l12" %>
    </div>
  </div>
</div>

