<%= simple_form_for product, html: { multipart: true,
  id: 'attachments-dropzone', class: 'dropzone' } do |f| %>

  <%= f.input :name, label: "Tiêu đề", input_html: { length: 60 } do %>
    <%= f.input_field :name %>
    <i class="material-icons prefix">label</i>
  <% end %>

  <%= f.input :description, label: "Mô tả sản phẩm" do %>
    <%= f.input_field :description %>
    <i class="material-icons prefix">message</i>
  <% end %>

  <%= f.association :category, label: "Danh mục", as: :radio_buttons,
    checked: product.category_id || Category.first.id %>

  <%= f.input :rejected_ids, as: :hidden,
    input_html: { id: "rejected_ids" } %>
  <div id="preview-wrapper">
  <% if @product.attachments.any? %>
      <% @product.attachments.each do |attachment| %>
        <div class="dz-preview dz-processing dz-image-preview dz-success
          dz-complete" id="<%= attachment.id %>">
          <div class="dz-image">
            <%= image_tag attachment.file.url %>
            <i id="<%= attachment.id %>"
              class="material-icons remove_thumb">clear</i>
          </div>
          <div class="dz-details">
            <div class="dz-size">
              <span data-dz-size>
                <strong>
                  <%= number_to_human_size attachment.file.size %>
                </strong>
              </span>
            </div>
            <div class="dz-filename">
              <span data-dz-name>
                <%= File.basename attachment.file.url %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
    </div>
  
  <%= f.button :button, id: "submit-btn" do %>
    <%= product.new_record? ? "Đăng" : "Cập nhật" %>
    <i class="material-icons right">send</i>
  <% end %>
<% end %>

 <%#= simple_form_for product do |f| %>
  <%#= f.association :category, as: :radio_buttons %>
 <%# end %>
        
