<header>
  <h1>Listing Products</h1>

  <div class="fixed-action-btn horizontal">
    <%= link_to "New Product", new_product_path, class: "new" %>
  </div>
</header>

<div id="products">
<% @products.each_with_index do |product, index| %>
  <%= '<div class="row">'.html_safe if index.even? %>
    <div class="col s12 l6">
      <div class="card">
        <%= link_to product do %>
        <div class="card-image">
          <%= image_tag(product.attachments.first.url) %>
          <span class="card-title"><%= product.name %></span>
        </div>
        <% end %>
        <div class="card-content">
          <p><%= truncate(product.description, length: 150) %></p>
        </div>
      </div>
    </div>
  <%= '</div>'.html_safe if index.odd? %>
<% end %>
</div>