<div id="product" class="card">
<div class="right">
    <%= link_to "", [:edit, @product], class: "edit" %>
    <%= link_to "", @product, method: :delete, class: "delete",
      data: { confirm: "Are you sure?" } %>
  </div>
<header>
  <h1><%= @product.name %></h1>

  
</header>

<div class="divider"></div>
<p><%= simple_format(@product.description) %></p>

<div class="row">
  <div class="col s12 l8">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <% @product.attachments.each do |attachment| %>
          <li><%= image_tag(attachment.url, class: "zoom-in") %></li>
        <% end %>
      </ul>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
        <% @product.attachments.each do |attachment| %>
          <li><%= image_tag(attachment.url) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col s12 l4">
    <p><%= simple_format(@product.description) %></p>
  </div>
</div>


</div>