<div id="product" class="card">
  <div class="right">
    <a class='dropdown-button' href='#' data-activates='action'>
      <i class="material-icons">more_vert</i></a>

  <!-- Dropdown Structure -->
  <ul id='action' class='dropdown-content'>
    <li class="edit"><%= link_to "Sửa", [:edit, @product] %></li>
    <li class="delete"><%= link_to "Gỡ", @product, method: :delete,
      data: { confirm: "Are you sure?" } %></li>
  </ul>
  </div>
  <header>
    <h4><%= @product.name %></h4>
  </header>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12 l8">
      <div id="slider" class="flexslider">
        <ul class="slides">
          <% @product.attachments.each do |attachment| %>
            <li><%= image_tag attachment.file.url, class: "zoom-in responsive-img" %></li>
          <% end %>
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides">
          <% @product.attachments.each do |attachment| %>
            <li><%= image_tag attachment.file.url,
              class: "responsive-img" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col s12 l4">
      <p><%= simple_format(@product.description) %></p>
    </div>
  </div>
</div>