<!DOCTYPE html>
<html>
  <head>
    <title>FoxFizz - The place to buy used stuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="main-color ">
        <div class="nav-wrapper">
          <a href="#" data-activates="slide-out" class="button-collapse">
            <i id="menu-icon" class="material-icons">menu</i>
          </a>
          <a href="/" class="brand-logo">
            <i class="material-icons">toys</i>FoxFizz
          </a>
          
          <ul class="right hide-on-med-and-down">
            <li><%= link_to '<i class="material-icons">notifications_none</i>'.
                html_safe, new_user_session_path, class: "tooltipped",
                data: { position: "bottom", tooltip: "Notifications" } %></li>
            <% if user_signed_in? %>
              <li><%= link_to image_tag(current_user.avatar, size: "32x32",
                class: "circle"), current_user %></li>
            <% else %>
              <li><%= link_to '<i class="material-icons">account_circle</i>'.
                html_safe, new_user_session_path, class: "tooltipped",
                data: { position: "bottom", tooltip: "Sign in" } %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <ul id="slide-out" class="side-nav">
      <% if user_signed_in? %>
      <li>
        <div class="userView">
          <%#= image_tag 'drawer-bg.jpg', class: "background" %>
          <%= link_to image_tag(current_user.avatar,
            class: "circle"), current_user %>

          <span class="white-text name"><%= current_user.name %></span>
          <span class="white-text email"><%= current_user.email %></span>

          <%= link_to '<i class="material-icons white-text">
            power_settings_new</i>'.html_safe,
            destroy_user_session_path, method: "delete", id: "drawer-logout",
            class: "tooltipped",
            data: { position: "bottom", tooltip: "Sign out" } %>
        </div>
      </li>

      <li><a><i class="material-icons">home</i>Home</a></li>
      <li><a><i class="material-icons">favorite</i>Favorite</a></li>
      <li><%= link_to '<i class="material-icons">account_circle</i>Profile'.
        html_safe, current_user %></li>
      <li><a><i class="material-icons">notifications</i>Notifications</a></li>
      <li><div class="divider"></div></li>
      <li><a><i class="material-icons">feedback</i>Send Feedback</a></li>
      <li><a><i class="material-icons">settings</i>Settings</a></li>
      <li><a><i class="material-icons">help</i>Help</a></li>
    </ul>
    <% end %>
    
    <div id="main">
      <div id="alert-wrapper">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %><a data class="dismiss">X</a>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
    
    <footer class="page-footer main-color">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat, lorem non tristique dapibus, nulla metus convallis risus, nec tincidunt sem augue a mi. Sed rutrum, nibh a tristique ultrices, felis sem condimentum nisl, at semper sem est eu lectus. Sed rutrum tincidunt porttitor.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
        
  </body>
</html>
