<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title><%= content_for?(:title) ? yield(:title) : "FoxFizz - Chợ mua bán Gear" %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="se-pre-con">
    <%= render "shared/circle_preloader", size: "big" %>
  </div>

  <div class="<%= 'navbar-fixed' unless current_page?('/') %>">
    <nav class="primary-color">
      <div class="nav-wrapper">
        <div class="row">

          <div class="col l3">
            <a href="#" data-activates="slide-out" class="button-collapse">
              <%= material_icon_of "menu", id: "menu-icon" %>
            </a>

            <%= link_to root_path, class: "brand-logo" do %>
            <%= image_tag 'logo.png', class: "left" %>
            <span class="hide-on-small-only">FoxFizz</span>
            <% end %>
          </div> <!-- End col l3 -->

          <div class="col l5">
            <div class="hide-on-med-and-down">
              <%= form_tag search_path, method: :get,class: "search-bar" do %>
              <div class="input-field">
                <%= search_field_tag :q, params[:q], id: "search-input",
                placeholder: "Tìm kiếm tin, người dùng, ...",
                autocomplete: "off",
                data: { "activates": "search-dropdown",
                  beloworigin: true } %>

                <label><%= material_icon_of "search" %></label>
                <%= material_icon_of "close", class: "clear-input" %>
              </div>
              <% end %>

              <ul id="search-dropdown" class="dropdown-content"></ul>
            </div>

            <ul class="icon-search hide-on-large-only">
              <li><%= link_to material_icon_of("search"), search_path %></li>
            </ul>
          </div> <!-- End col l5 -->
            
          <div class="col l4">
            <ul class="right hide-on-med-and-down">
              <li>
                <%= link_to (material_icon_of 'home'), root_path,
                class: "tooltipped",
                data: { position: "bottom", tooltip: "Trang chủ" } %>
              </li>

              <li>
                <%= link_to material_icon_of("add"), new_post_path,
                class: "tooltipped",
                data: { position: "bottom", tooltip: "Đăng tin" } %>
              </li>

              <% if user_signed_in? %>
                <li>
                  <%= link_to material_icon_of('notifications_none'),
                    "#", class: "tooltipped dropdown-button",
                    data: { position: "bottom", tooltip: "Thông báo",
                    activates: "notice-content", beloworigin: true,
                    outduration: 1000 } %>

                  <span class="counter notice">
                    <%= current_user.unread_counter %>
                  </span>

                  <ul id="notice-content" class="dropdown-content collection
                    with-header">
                    <li class="collection-header">
                      Thông báo
                      <%= link_to "Đánh dấu tất cả là đã đọc",
                      mark_all_as_read_notifications_path, method: :patch,
                      remote: true, class: "right" %>
                    </li>

                    <% if current_user.recent_notifications.blank? %>
                    <li class="collection-item avatar">
                      Hiện tại chưa có thông báo nào.
                    </li>
                    <% else %>
                    <%= render partial: "notifications/notification",
                    collection: current_user.recent_notifications %>

                    <li class="collection-footer">
                      <%= link_to "Xem tất cả", notifications_path, 
                      class: "center-align" %>
                    </li>
                    <% end %>
                  </ul>
                </li>
        
                <li>
                  <%= link_to image_tag(current_user.avatar,
                    size: "32x32", class: "bordered-logo"),
                    user_profile_path(current_user.username) %>
                </li>
              <% else %>
                <li>
                  <%= link_to material_icon_of("account_circle"),
                    new_user_session_path, class: "tooltipped",
                    data: { position: "bottom", tooltip: "Đăng nhập" } %>
                </li>
              <% end %>
            </ul>
          </div> <!-- End col l4 -->

        </div>  <!-- End row -->
      </div> <!-- End nav-wrapper -->
    </nav>
  </div> <!-- End navbar-fixed -->

  <ul id="slide-out" class="side-nav">
    <li>
      <div class="userView">
      <% if user_signed_in? %>
        <%= link_to image_tag(current_user.avatar, class: "bordered-logo"),
          user_profile_path(current_user.username),
          class: 'non-waves-effect' %>

        <span class="white-text name"><%= current_user.name %></span>
        <span class="white-text email"><%= current_user.email %></span>

        <%= link_to material_icon_of("power_settings_new",class: "white-text"),
          destroy_user_session_path, class: "tooltipped non-waves-effect",
          method: "delete", id: "drawer-logout",
          data: { position: "bottom", tooltip: "Đăng xuất" } %>
      <% else %>
        <%= render "shared/login", login_class: "" %>
      <% end %>
      </div>
    </li> <!-- End userView -->

    <li>
      <%= link_to material_icon_of("home", name: "Trang chủ"), root_path %>
    </li>
    <li>
      <%= link_to material_icon_of("add_circle", name: "Đăng tin"),
        new_post_path %>
    </li>

    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <li>
          <%= link_to material_icon_of('dashboard', name: "Bảng điều khiển"),
            admin_root_path %>
        </li>
      <% end %>
      <li>
        <%= link_to material_icon_of("notifications", name: "Thông báo"), notifications_path %>
        <span class="counter notice">
          <%= current_user.unread_counter %>
        </span>
      </li> <!-- End Notification -->

      <li>
        <%= link_to material_icon_of("account_circle",name: "Trang cá nhân"),
          user_profile_path(current_user.username) %>
      </li> <!-- End Profile -->

      <li>
        <%= link_to material_icon_of("favorite", name: "Các tin yêu thích"),
        favorite_posts_path %>
        <% unless current_user.favorites.count.zero? %>
        <span class="counter"><%= current_user.favorites.count %></span>
        <% end %>
      </li> <!-- Favorite -->
    <% end %> <!-- End user_signed_in? -->

    <li><div class="divider"></div></li> <!-- Divider -->

      <% if user_signed_in? %>
        <li><a><%= material_icon_of "settings", name: "Cài đặt" %></a></li>
      <% end %>
      <li><a><%= material_icon_of "feedback", name: "Góp ý" %></a></li>
      <li><a><%= material_icon_of "help", name: "Hỗ trợ" %></a></li>
    </ul>

  <div id="main">
    <% flash.each do |key, message| %>
      <%= javascript_tag do %>
        Materialize
        .toast('<%= message.html_safe %>', 4000,'<%= "toast-#{key}" %>');
      <% end %>
    <% end %>

    <%= yield %>
  </div>

  <footer class="page-footer primary-color padding-none">
    <div class="footer-copyright">
      <div class="container">
        © 2016 FoxFizz. All rights reserved

        <div class="footer-more-link right">
          <%= link_to "Giới thiệu", about_path %>
          <%= link_to "Chính sách", "#" %>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
