<!DOCTYPE html>
<html>
  <head>
    <title>FoxFizz - The place to buy used stuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="se-pre-con">
      <%= render "shared/circle_preloader", size: "big" %>
    </div>
    
    <div class="<%= 'navbar-fixed' unless current_page?('/') %>">
    <nav class="primary-color">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col l3">
          <a href="#" data-activates="slide-out" class="button-collapse">
            <%= material_icon_of "menu", id: "menu-icon" %>
          </a>

          <%= link_to root_path, class: "brand-logo" do %>
            <%= image_tag 'logo.png', class: "left" %>
            <span>FoxFizz</span>
          <% end %>
          </div>

          <div class="col l5 hide-on-med-and-down">
            <%= form_tag root_path, class: "search-bar" do %>
              <div class="input-field">
                
                <%= search_field_tag :search, nil, id: "search-input",
                  placeholder: "Search anything ...", autocomplete: "off",
                  data: { "activates": "search-dropdown",
                  beloworigin: true } %>
                        
                <label for="search"><%= material_icon_of "search" %></label>
                <%= material_icon_of "close", class: "clear-input" %>
              </div>
            <% end %>

            <ul id="search-dropdown" class="dropdown-content"></ul>
          </div>
          
          <div class="col l4">
            <ul class="right hide-on-med-and-down">
              <li>
                <%= link_to (material_icon_of 'home'), root_path,
                class: "tooltipped",
                data: { position: "bottom", tooltip: "Trang chủ" } %>
              </li>

              <li>
                <%= link_to material_icon_of("add"), new_post_path,
                  class: "tooltipped",
                  data: { position: "bottom", tooltip: "Đăng tin" } %>
              </li>

              <% if user_signed_in? %>
                <li>
                  <%= link_to material_icon_of('notifications_none'),
                  "#", class: "tooltipped dropdown-button",
                  data: { position: "bottom", tooltip: "Thông báo",
                  activates: "notice-content", beloworigin: true,
                  outduration: 1000 } %>
                  <% unless current_user.unread_counter.zero? %>
                    <span class="counter notice">
                      <%= current_user.unread_counter %>
                    </span>
                  <% end %>
                  

                  <ul id="notice-content" class="dropdown-content collection
                    with-header">
                    <li class="collection-header">
                      Thông báo
                      <%= link_to "Đánh dấu tất cả là đã đọc",
                        mark_all_as_read_notifications_path, method: :patch,
                        remote: true, class: "right" %>
                    </li>
                    
                    <% if current_user.recent_notifications.blank? %>
                      <li class="collection-item avatar">
                        Hiện tại chưa có thông báo nào.
                      </li>
                    <% else %>
                      <%= render partial: "notifications/notification",
                        collection: current_user.recent_notifications %>

                      <li class="collection-footer">
                        <%= link_to "Xem tất cả", notifications_path, 
                          class: "center-align" %>
                      </li>
                    <% end %>
                    
                  </ul>
                </li>

                <li>
                  <%= link_to image_tag(current_user.avatar,
                    size: "32x32", class: "bordered-logo"),
                    user_profile_path(current_user.username) %>
                </li>
              <% else %>
                <li><%= link_to material_icon_of("account_circle"),
                  new_user_session_path, class: "tooltipped",
                  data: { position: "bottom", tooltip: "Đăng nhập" } %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>

<!--     <nav class="z-depth-0 hide-on-large-only">
      <div class="nav-wrapper container">
        <form class="full-width search-bar">
          <div class="input-field">
            <input type="search" class="autocomplete" placeholder="Search anything ...">
            <label for="search"><%#= material_icon_of "search" %></label>
            <%#= material_icon_of "close" %>
          </div>
        </form>
      </div>
    </nav> -->

    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <% if user_signed_in? %>
            <%= link_to image_tag(current_user.avatar,
            class: "bordered-logo"), user_profile_path(current_user.username),
            class: 'non-waves-effect' %>

            <span class="white-text name"><%= current_user.name %></span>
            <span class="white-text email"><%= current_user.email %></span>

            <%= link_to material_icon_of("power_settings_new",
              class: "white-text"), destroy_user_session_path,
              class: "tooltipped non-waves-effect",
              method: "delete", id: "drawer-logout",
              data: { position: "bottom", tooltip: "Đăng xuất" } %>
          <% else %>
            <%= render "shared/login", login_class: "" %>
          <% end %>
        </div>
      </li>
      

      <li><a><%= material_icon_of "home", name: "Trang chủ" %></a></li>
      <li><%= link_to material_icon_of("add_circle", name: "Đăng tin"),
        new_post_path %></li>

      <% if user_signed_in? %>
        <li>
          <%= link_to material_icon_of("notifications", name: "Thông báo"), notifications_path %>
          <% unless current_user.unread_counter.zero? %>
            <span class="counter notice">
              <%= current_user.unread_counter %>
            </span>
          <% end %>
        </li>

        <li>
          <%= link_to material_icon_of("account_circle",
            name: "Trang cá nhân"), user_profile_path(current_user.username) %>
        </li>

        <li>
          <%= link_to material_icon_of("favorite", name: "Các tin yêu thích"),
            favorite_posts_path %>
          <% unless current_user.favorites.count.zero? %>
            <span class="counter"><%= current_user.favorites.count %></span>
          <% end %>
        </li>

        <li><div class="divider"></div></li>

        <li><a><%= material_icon_of "feedback", name: "Góp ý" %></a></li>
        <li><a><%= material_icon_of "settings", name: "Cài đặt" %></a></li>
        <li><a><%= material_icon_of "help", name: "Hỗ trợ" %></a></li>
      <% end %>
    </ul>
    
    <div id="main">
      <% flash.each do |key, message| %>
        <%= javascript_tag do %>
          Materialize.toast('<%= message.html_safe %>', 4000,
            '<%= "toast-#{key}" %>');
        <% end %>
      <% end %>

      <%= yield %>
    </div>

    <div class="fixed-action-btn horizontal">
      <a class="go-to-top btn-floating btn-large" style="display: none;">
        <%= material_icon_of "keyboard_arrow_up" %>
      </a>
    </div>

    <footer class="page-footer primary-color">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat, lorem non tristique dapibus, nulla metus convallis risus, nec tincidunt sem augue a mi. Sed rutrum, nibh a tristique ultrices, felis sem condimentum nisl, at semper sem est eu lectus. Sed rutrum tincidunt porttitor.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
